/***********************
 *Css file
 ***********************/ 
html,body{
  padding:0;
  margin:auto;
  
}
body{
  background-image:url("../Stylesheets/assets/background1.jpg");
  background-attachment:fixed;
  z-index:0;
}
nav  a{
  padding:20px 25px;
  background:#666894;
}
